@font-face {
  font-family: "ProductSans";
  src: url(css/productsans.ttf);
}

body {
  background-color: #1e88e5;
  font-family: "ProductSans";
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

body {
  background-color: #1e88e5;
}

.theme-change {
  background-color: #000;
}

.theme-change h1 {
  color: #fff;
}

.theme-change h3 {
  color: #fff;
}

.theme-change .card {
  background-color: rgb(41, 41, 41);
}
h1 {
  text-align: center;
  color: #000;
  font-size: 84px;
  margin-bottom: -20px;
  width: auto;
}

h3 {
  text-align: right;
  color: #000;
  margin: 10px;
  padding-right: 60px;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin: 2rem;
  padding: 1px 10px 60px 10px;
  box-shadow: 100px;
}

.btn {
  font-family: "ProductSans";
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 6px;
  background-color: #fff;
  border: none;
  padding: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1%;
  margin-bottom: 1%;
}

.theme-change .btn {
  background-color: rgb(41, 41, 41);
  color: #fff;
}
.searchbar {
  display: block;
  border-radius: 10px;
  font-size: 26px;
  font-family: "ProductSans";
  border: solid rgba(0, 0, 0, 0.24);
  padding: 10px;
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 535px) {
  .card {
    margin: 20px;
    max-width: 300px;
  }

  h1 {
    font-size: 58px;
  }

  h3 {
    padding-right: 30px;
    margin-top: 20px;
  }

  .searchbar {
    font-size: 18px;
  }
}